.Rproj.user
.Rhistory
.RData
.DS_Store
movies/
data/
Lego_Program/math/
figures2/
figures/
data/
tutorial.jld2
EnigmaEvo/rEvo_dip.jld2
EnigmaEvo/rEvo_dip_lowEvo.jld2
EnigmaEvo/simulations/plotTests.jl
